---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro"; 
const {titulo, description, platon} = Astro.props
import { ClientRouter } from "astro:transitions";
import { Image, Picture } from 'astro:assets';
import Gernika from '../assets/Gernika.jpg';
import "../styles/global.css";
---
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/jpeg" href="../../public/favicon.svg">
        <title>{titulo}</title>
        <meta name="description" content={description}>
        <ClientRouter />
    </head>
    <body>
    
        
        <Header />
        <slot />
        <Footer />

    </body>
</html>

