---

---
<header>
    <div class="logo"><a href="/"><strong>MiSaaS</strong></a></div>
    <nav>
      <a href="/features">Features</a>
      <a href="/about">About</a>
      <a href="/pricing">Pricing</a>
      <a href="/aa">202x2</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>