---
import Plantilla from "../layouts/plantilla.astro"
import { Image, Picture } from 'astro:assets';
import Gernika from '../assets/Gernika.jpg';
import fondo from '../assets/fondo.jpg';
---
<Plantilla>

<p>aaaaaaaa</p>


</Plantilla>