---
import Plantilla from "../layouts/plantilla.astro"

---


	<Plantilla titulo="titulo con astro" description="descripsopn con astro">
        
		
		<section class="hero" id="hero">
			<h1>Solución SaaS para tu negocio</h1>
			<p>Gestiona tus clientes, datos y finanzas con una plataforma moderna y eficiente.</p>
			<div class="btn">
				<img src="/images/fondo.jpg" alt="Imagen hero" />
			</div>
		  </section>
		  <div class="nosotros"> <div class="nosotros-item"><span class="grande">Hazlo con nosotros</span> <br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</div></div>
		  <section class="features" id="features">
		   
			<div class="feature-item">
			  <h3>Gestión de contenidos</h3>
			  <p>Controla todo tu contenido desde un solo lugar.</p>
			</div>
			<div class="feature-item">
			  <h3>Gestión de datos</h3>
			  <p>Analiza y procesa datos fácilmente con nuestras herramientas.</p>
			</div>
			<div class="feature-item">
			  <h3>Interacción comunitaria</h3>
			  <p>Conecta con tus usuarios y crea comunidad.</p>
			</div>
		  </section>
		  <section class="section" id="about">
			<div class="content">
			  <h2>Analiza datos financieros</h2>
			  <p>
				Nuestra plataforma te ofrece herramientas avanzadas para monitorear y predecir el 
				comportamiento financiero de tu proyecto. Toma decisiones basadas en datos reales.
			  </p>
			</div>
			<img src="/images/mujer.jpg"  />
		  </section>
		  <button class="boton">know more</button>
		<section class="section">
			<img src="/images/hombre.jpg" alt="">
			<div class="content">
				<h2>Construye relaciones más fuertes con tus clientes</h2>
				<p>
				  Con funciones centradas en la experiencia del usuario podrás fidelizar y mantener 
				  la satisfacción alta.
				</p>
			  </div>
		</section>
		
  <section class="testimonial">
    <blockquote>
      Cras malesuada fermentum sollicitudin. Ut at nunc ut lectus interdum consectetur et quis erat. Etiam vel lacus ex.
    </blockquote>
    <cite>— Ali Sayed</cite>
  </section>

  <section class="cta" id="signup">
    <h2>¿Listo para comenzar?</h2>
    <a href="#contact">Regístrate Hoy</a>
  </section>

	</Plantilla>

