@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('HelveticaNowDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-BoldIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-BlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-BoldIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-BlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-BlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('HelveticaNowDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-BoldIta.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('HelveticaNowDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBlkIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBdIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBdIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBlkIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay ExtraBlack';
    src: url('HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBlkIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtBdIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtLtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtLtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtLtIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('HelveticaNowDisplay-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

