:root{
    --amarillo:#FCAF17;
   
}
ul,a{
  list-style: none;
  text-decoration: none;
}
a {
  color: inherit;       /* hereda el color del texto padre */
  text-decoration: none; /* quita el subrayado */
}

